---
import clsx from "clsx";

type Props = {
  class?: string;
  title?: string;
  slug?: string;
  date?: string;
};

const { class: className, title, slug, date } = Astro.props as Props;
---

<article class="overflow-hidden rounded-[24px]">
  <a
    href={`/articles/${slug}`}
    class={clsx("grid gap-2 bg-white p-10", className)}
  >
    <h3 class="order-1 text-[22px] font-bold">{title}</h3>
    <time datetime={date}>{date}</time>
  </a>
</article>
