---
import { directus } from "@/schemas/directus";
import { readItems } from "@directus/sdk";

import Container from "@/components/astro/elements/Container.astro";
import ArticleCard from "@/components/astro/elements/ArticleCard.astro";
import Section from "@/components/astro/elements/Section.astro";
import HeroPrimary from "@/components/astro/sections/HeroPrimary.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { formattedDate } from "@/utils/formattedDate";

const articles = await directus.request(
  readItems("articles", {
    fields: ["title", "slug", "published_date"],
  }),
);
---

<MainLayout>
  <HeroPrimary
    title="Articles"
    subtitle="Articles"
    class="pb-10"
  /><!-- Articles -->
  <Section class="pb-40">
    <Container size="md" class="mt-10 rounded-[32px] bg-gray-100 p-2">
      <div class="grid gap-2 rounded-[24px]">
        {
          articles.map((article) => (
            <ArticleCard
              title={article.title}
              slug={article.slug}
              date={
                article.published_date
                  ? formattedDate(article.published_date)
                  : ""
              }
            />
          ))
        }
      </div>
    </Container>
  </Section>
</MainLayout>
