---
import clsx from "clsx";

type Props = {
  class?: string;
  size?: "xs" | "sm" | "md" | "lg";
};

const sizes = {
  xs: "btn-xs",
  sm: "btn-sm",
  md: "btn-md",
  lg: "btn-lg",
};

const { size = "md", class: className } = Astro.props as Props;
---

<button class={clsx("btn rounded-full", sizes[size], className)}>
  <slot />
</button>
