---
import clsx from "clsx";

type Props = {
  class?: string;
  size?: keyof typeof sizes;
};

const sizes = {
  xl: "max-w-screen-xl",
  lg: "max-w-screen-lg",
  md: "max-w-screen-md",
  sm: "max-w-screen-sm",
};

const { size = "xl", class: className } = Astro.props as Props;
---

<div class={clsx("mx-auto", sizes[size], className)}>
  <slot />
</div>
