---
import clsx from "clsx";
import Section from "@/components/astro/ui/Section.astro";
import Container from "@/components/astro/ui/Container.astro";
import Heading from "@/components/astro/ui/Heading.astro";
import Button from "@/components/astro/ui/Button.astro";

type Props = {
  title?: string;
  subtitle?: string;
  class?: string;
  button?: boolean;
  buttonProps?: {
    class?: string;
    label?: string;
    size?: "xs" | "sm" | "md" | "lg";
  };
  message?: string;
};

const {
  title,
  subtitle,
  class: className,
  button,
  buttonProps,
  message,
} = Astro.props as Props;
---

<section
  class="relative flex overflow-x-hidden bg-gradient-to-r from-green-300 to-rose-400"
>
  <div class="animate-marquee whitespace-nowrap py-6">
    <span class="mx-8 text-3xl">Directus</span>
    <span class="mx-8 text-3xl">•</span>
    <span class="mx-8 text-3xl">Astro</span>
    <span class="mx-8 text-3xl">•</span>
    <span class="mx-8 text-3xl">React</span>
    <span class="mx-8 text-3xl">•</span>
    <span class="mx-8 text-3xl">Tailwind CSS</span>
    <span class="mx-8 text-3xl">•</span>
    <span class="mx-8 text-3xl">Railway</span>
    <span class="mx-8 text-3xl">•</span>
    <span class="mx-8 text-3xl">Digital Ocean</span>
    <span class="mx-8 text-3xl">•</span>
  </div>

  <div class="absolute top-0 animate-marquee2 whitespace-nowrap py-6">
    <span class="mx-8 text-3xl">Directus</span>
    <span class="mx-8 text-3xl">•</span>
    <span class="mx-8 text-3xl">Astro</span>
    <span class="mx-8 text-3xl">•</span>
    <span class="mx-8 text-3xl">React</span>
    <span class="mx-8 text-3xl">•</span>
    <span class="mx-8 text-3xl">Tailwind CSS</span>
    <span class="mx-8 text-3xl">•</span>
    <span class="mx-8 text-3xl">Railway</span>
    <span class="mx-8 text-3xl">•</span>
    <span class="mx-8 text-3xl">Digital Ocean</span>
    <span class="mx-8 text-3xl">•</span>
  </div>
</section>

<Section class={clsx("bg-gray-950 text-white py-40", className)}>
  <Container size="md" class="grid place-items-center gap-4 text-center">
    <Heading tag="h1" size="display-1" class="leading-[1.2]">{title}</Heading>
    <Heading
      tag="h2"
      size="display-3"
      weight="normal"
      class="max-w-screen-sm text-xl">{subtitle}</Heading
    >
    {
      button && (
        <div class="mt-10 grid place-items-center gap-3">
          <Button {...buttonProps}>{buttonProps?.label ?? "Button"}</Button>
          <p class="text-sm">{message}</p>
        </div>
      )
    }
  </Container>
</Section>
