---
import { getCollection } from "astro:content";
import MainLayout from "@/layouts/MainLayout.astro";

const nominations = await getCollection("nominations");
---

<MainLayout>
  <h1>Hello</h1>
  <ul>
    {
      nominations.map(
        (nomination: {
          data: { name: string; type: string; year: number };
        }) => (
          <li>
            {nomination.data.name} - {nomination.data.type} -{" "}
            {nomination.data.year}
          </li>
        ),
      )
    }
  </ul>
</MainLayout>
