---
import MainLayout from "@/layouts/MainLayout.astro";
import HeroPrimary from "@/components/astro/sections/HeroPrimary.astro";
import Container from "@/components/astro/elements/Container.astro";
import Section from "@/components/astro/elements/Section.astro";
import Heading from "@/components/astro/elements/Heading.astro";
import ExperienceCard from "@/components/astro/elements/ExperienceCard.astro";
---

<MainLayout>
  <h1>Hello</h1>
</MainLayout>
