---
import Layout from "@/layouts/Layout.astro";
import directus from "@/schemas/directus";
import { readSingleton } from "@directus/sdk";
import { motion } from "motion/react";
import { Apple } from "lucide-react";
import Sections from "@/components/astro/elements/Sections.astro";
import Container from "@/components/astro/elements/Container.astro";

const site = await directus.request(
  readSingleton("global", { fields: ["name", "description"] }),
);

console.log(site);
---

<Layout title={site.name}>
  <motion.div
    initial={{ opacity: 0 }}
    animate={{ opacity: 1 }}
    transition={{ duration: 0.5 }}
    client:load
    className="container mx-auto flex gap-2 rounded-lg bg-orange-200 p-4"
  >
    <Apple />
    <h1>{site.name}</h1>
    <p>{site.description}</p>
  </motion.div>
  <Sections tag="header">
    <Container>
      <h1>{site.name}</h1>
    </Container>
  </Sections>
</Layout>
