---
import { getCollection } from "astro:content";
import MainLayout from "@/layouts/MainLayout.astro";

const nominations = await getCollection("nominations");
---

<MainLayout>
  <h1>Hello</h1>
</MainLayout>
